<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="/assets/fonts/inter.css">
    <link rel="stylesheet" href="/assets/fonts/icomoon.css">
    <link rel="stylesheet" href="/assets/css/glightbox.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <meta name="description" content="{{site.description}}" />
    <link rel="shortcut icon" type="image/x-icon" href="/fotos/favicon.png">
    <script src="/assets/js/glightbox.min.js"></script>
</head>