<a target="_blank" href="{{site.facebook}}" target="_blank"><span class="icon-facebook"></span></a>
<a target="_blank" href="{{site.instagram}}" target="_blank"><span class="icon-instagram"></span></a>
<a target="_blank" href="{{site.podcast}}" target="_blank"><span class="icon-podcast"></span></a>
<a target="_blank" href="mailto:{{site.email}}" target="_blank"><span class="icon-mail"></span></a>
<a target="_blank" href="http://www.lesereihen.org/organizer/lesebuehne-text-genuss-schnaps-vortraege/">{% responsive_image path: uploads/lesereihen.jpg template: _includes/responsive_image_logo.html %}</a>
