<a href="/">
    {% responsive_image path: uploads/logo.jpg template: _includes/responsive_image_logo.html %}
    {% if page.title %}
    <h2>
        {{ site.title | newline_to_br }}
    </h2>
    {% else %}
    <h1>
        {{ site.title | newline_to_br }}
    </h1>
    {% endif %}
</a>

<aside>{{site.description}}</aside>

<nav>
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <div id="menugroup">
        <a href="/">Aktuelles</a>
        <a href="/galerie.html">Galerie</a>
        <a href="/lesende.html">Lesende</a>
        <a href="/ueber-uns.html">Über uns</a>
        <a href="/kontakt.html">Kontakt</a>
        <div class="socialbox menu">
            <a href="{{site.facebook}}" target="_blank"><span class="icon-facebook"></span></a>
            <a href="{{site.instagram}}" target="_blank"><span class="icon-instagram"></span></a>
            <a href="mailto:{{site.email}}" target="_blank"><span class="icon-mail"></span></a>
        </div>
    </div>
</nav>
<a href={% if site.announcement_link|strip != "" %}"{{site.announcement_link}}"{% else %}"javascript:;"{% endif %}
    id="announcement">

    {% if site.announcement != "" %}
    <div>{{site.announcement | newline_to_br }}</div>
    {% endif %}

</a>

<div class="socialbox navbar">
    <a href="{{site.facebook}}" target="_blank"><span class="icon-facebook"></span></a>
    <a href="{{site.instagram}}" target="_blank"><span class="icon-instagram"></span></a>
    <a href="mailto:{{site.email}}" target="_blank"><span class="icon-mail"></span></a>
</div>