<a href="/">
    <img alt="{{site.title}}" src="{{site.baseurl}}/uploads/logo.jpg" />
    {% if page.title %}
    <h2>
        {{ site.title | newline_to_br }}
    </h2>
    {% else %}
    <h1>
        {{ site.title | newline_to_br }}
    </h1>
    {% endif %}
</a>

<aside>{{site.description}}</aside>

<nav>
    <a href="/">Aktuelles</a>
    <a href="/galerie.html">Galerie</a>
    <a href="/lesende.html">Lesende</a>
    <a href="/ueber-uns.html">Über uns</a>
    <a href="/kontakt.html">Kontakt</a>
</nav>

<a href="{{site.announcement_link}}">
    <div id="announcement">{{site.announcement | newline_to_br }}</div>
</a>

<div id="socialbox">
    <a href="{{site.facebook}}" target="_blank"><span class="icon-facebook"></span></a>
    <a href="{{site.instagram}}" target="_blank"><span class="icon-instagram"></span></a>
    <a href="mailto:{{site.mailto}}" target="_blank"><span class="icon-mail"></span></a>
</div>