$desktop-break: 1130px;
$mobile-break: 800px;

html {
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

body {
    margin: 1em;

    @media only screen and (min-width: 800px) {
        margin: 1.5em;
    }

}

@for $index from 1 through 6 {
    h#{$index} {
        font-weight: 700;
        line-height: 1.3em;
        letter-spacing: -0.025em;

        a {
            text-decoration: none;
        }
    }
}

#frame {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "sidebar"
        "main"
        "footer";

    @media (min-width: $mobile-break) {
        width: 90%;
        grid-template-columns: 30% auto;
        grid-template-areas:
            "header header"
            "sidebar main"
            "footer footer";
    }

    @media (min-width: $desktop-break) {
        width: 75%;
    }
}


p {
    margin-top: 1.25em;
}

#header {
    grid-area: header;

}

#navbar {
    grid-area: sidebar;
    font-size: .9em;
    display: flex;
    flex-direction: column;

    @media (min-width: $mobile-break) {
        display: block;
        margin-right: 1.5em;
        padding-right: 1.5em;
        border-right: 1px solid #ccc;
    }

    >a:first-of-type {
        text-decoration: none;
        order: 2;
    }

    img {
        max-height: 3em;
        float: left;
        margin: 0 1em .5em 0;

        @media (min-width: $mobile-break) {
            max-height: unset;
            float: none;
            margin: unset;
        }
    }

    aside {
        font-size: .9em;
        color: #666666;
        order: 3;
        margin-bottom: 1rem;

        @media (min-width: $mobile-break) {


            margin-bottom: 2rem;
        }
    }

    #socialbox {
        display: flex;
        order: 5;
        justify-content: space-evenly;
        padding: 0em 4em 0em 4em;
        border-bottom: 1px solid #ccc;
        width: 100%;

        @media (min-width: $mobile-break) {
            border-bottom: 0;
            border-top: 1px solid #ccc;
            padding: 1em 4em 0 4em;
        }

        [class^="icon-"] {
            margin-right: .5em;
            font-size: 2.5em;
        }

        a {
            text-decoration: none;
        }
    }

    #announcement {
        order: 0;
        position: absolute;
        right: .5em;
        top: .5em;

        @media (min-width: $mobile-break) {
            order: 4;
            position: unset;
            right: unset;
            top: unset;
        }

        div {
            background: #ffee02;
            border-radius: 1em;
            font-size: 1em;
            padding: .5em;
            text-decoration: underline;
            text-align: center;
            margin-bottom: 1em;
            transform: rotate(4deg);
            display: inline-block;
            z-index: 10;

            @media (min-width: $mobile-break) {
                font-size: 1.75em;
                display: block;
                transform: rotate(-4deg);
            }
        }
    }

    h1 {
        margin-top: 0;
    }


    h1,
    h2 {
        margin-bottom: .5em;
        font-size: 1.8rem;

    }

    nav {
        order: 1;
        position: relative;
        margin-bottom: 1em;

        input {
            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            top: -7px;
            left: -5px;
            cursor: pointer;
            opacity: 0;
            z-index: 2;
            -webkit-touch-callout: none;

            @media (min-width: $mobile-break) {
                display: none;
            }
        }

        span {
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            background: #000;
            border-radius: 3px;
            z-index: 1;
            transform-origin: 4px 0px;
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                opacity 0.55s ease;

            @media (min-width: $mobile-break) {
                display: none;
            }
        }

        span:first-of-type {
            transform-origin: 0% 0%;
        }

        span:nth-of-type(2) {
            transform-origin: 0% 100%;
        }

        input:checked~span {
            opacity: 1;
            transform: rotate(45deg) translate(0px, -5px);
            background: #232323;
        }

        input:checked~span:nth-last-of-type(2) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }

        input:checked~span:nth-last-of-type(1) {
            transform: rotate(-45deg) translate(0, -1px);
        }

        #menugroup {
            max-height: 0;
            transition: max-height .25s ease-in-out;
            overflow: hidden;
            position: absolute;
            width: 100%;
            background-color: #fff;
            margin-top: 1em;
            z-index: 1;

            @media (min-width: $mobile-break) {
                max-height: 500px;
                position: unset;
                width: unset;
                background-color: unset;
                margin-top: 0em;
            }

            a {
                display: block;
                padding: 1em;
                width: 100%;
                text-align: center;
                border: 1px solid #cccccc;
                margin-bottom: 1em;
                font-weight: 700;
                font-size: 1.25em;
                transition: all .25s ease;

                &:hover {
                    background-color: #000;
                    color: #ffffff;
                }
            }
        }

        input:checked~#menugroup {
            max-height: 500px;
        }
    }

}

#main {
    grid-area: main;

    @for $index from 1 through 6 {
        h#{$index} {
            margin-top: .75em;
            margin-bottom: 1em;

            @media (min-width: $mobile-break) {
                margin-top: 1.25em;
            }
        }

        h#{$index}+p {
            margin-top: 0em;
        }

        p+h#{$index} {
            margin-top: 2em;
        }
    }

    img {
        max-width: 100%;
        margin-bottom: 1em;

        @media (min-width: $mobile-break) {
            max-width: calc(100% - 2em);
        }
    }

    iframe {
        padding: 1em 0;
    }

    #lesende {
        @media (min-width: $mobile-break) {
            img {
                width: 40%;
                float: left;
                margin: 0 1em 0 0;
            }

            img.float-right {
                float: right;
                margin: 0 0 0 1em;
            }
        }

        p:after {
            content: "";
            display: table;
            clear: both;
        }

        @media (max-width: $mobile-break - 1) {
            img {
                width: 100%;
            }
        }

    }

    .gallery {
        margin-bottom: 1em;
        border-bottom: 1px solid #cccccc;

        display: flex;
        flex-wrap: wrap;

        h2 {
            width: 100%;
        }

        p {
            width: calc(100%);
            margin: 0 0em 1em 0;

            @media (min-width: $mobile-break) {
                width: calc(50% - 1em);
                margin: 0 1em 1em 0;
            }

            a {
                width: 100%;
                overflow: hidden;
                margin: 0;
                padding-top: 56.25%;
                position: relative;
                display: block;

                img {
                    margin-bottom: 0em;
                    max-width: unset;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 100%;
                    height: auto;
                    transform: translate(-50%, -50%);
                }
            }
        }

        p:last-of-type {
            width: 100%;
        }
    }

    .byline {
        font-size: .9em;
        color: #999;
        margin-bottom: .5em;
        display: block;
    }
}

#footer {
    margin-top: 1em;
    grid-area: footer;
    text-align: center;
    font-size: .8em;
    color: #555;
}