html {
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

body {
    margin: 1.5em;
}

@for $index from 1 through 6 {
    h#{$index} {
        font-weight: 200;
        line-height: 1.5em;
        letter-spacing: -0.025em;
    }
}

#frame {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "sidebar"
        "main"
        "footer";
}



@media only screen and (min-width: 800px) {
    #frame {
        width: 90%;
        grid-template-columns: 30% auto;
        grid-template-areas:
            "header header"
            "sidebar main"
            "footer footer";
    }
}

@media only screen and (min-width: 1200px) {
    #frame {
        width: 75%;
    }
}

p {
    margin-top: 1.25em;
}

#header {
    grid-area: header;

    h1 {
        font-size: 2em;
        margin-bottom: 1em;

        a {
            text-decoration: none;
        }
    }
}

#sidebar {
    grid-area: sidebar;
    margin-right: 1em;
    font-size: .9em;

    p:first-of-type {
        margin-top: 0.5em;
    }

    [class^="icon-"] {
        margin-right: .5em;
    }

    .sidenote {
        color: #666666;
        font-size: .75em;
    }

    h1 {
        margin-top: 0;
    }
}


#main {
    grid-area: main;

    @for $index from 1 through 6 {
        h#{$index} {
            margin-top: 1.25em;
            margin-bottom: .75em;
        }

        h#{$index}+p {
            margin-top: 0em;
        }
    }
}

#footer {
    grid-area: footer;
    text-align: center;
    font-size: 11pt;
    color: #555;
}