html {
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

body {
    margin: 1.5em;

    a {
        text-decoration: underline solid transparent;
        transition: text-decoration .25s ease;

        &:hover {
            text-decoration: underline solid currentColor;
        }
    }
}

@for $index from 1 through 6 {
    h#{$index} {
        font-weight: 700;
        line-height: 1.3em;
        letter-spacing: -0.025em;
    }
}

#frame {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "sidebar"
        "main"
        "footer";
}



@media only screen and (min-width: 800px) {
    #frame {
        width: 90%;
        grid-template-columns: 30% auto;
        grid-template-areas:
            "header header"
            "sidebar main"
            "footer footer";
    }
}

@media only screen and (min-width: 1200px) {
    #frame {
        width: 75%;
    }
}

p {
    margin-top: 1.25em;
}

#header {
    grid-area: header;

}

#navbar {
    grid-area: sidebar;
    margin-right: 1.5em;
    padding-right: 1.5em;
    font-size: .9em;
    border-right: 1px solid #ccc;

    >a:first-of-type {
        text-decoration: none;
    }

    img {
        width: 100%;
    }

    aside {
        font-size: .9em;
        color: #666666;
        margin-bottom: 2rem;
    }

    #socialbox {
        display: flex;
        justify-content: space-evenly;
        padding: 1em 4em 0 4em;
        border-top: 1px solid #ccc;
        width: 100%;

        [class^="icon-"] {
            margin-right: .5em;
            font-size: 2.5em;
        }

        a {
            text-decoration: none;
        }
    }

    #announcement {
        background: #ffee02;
        border-radius: 1em;
        font-size: 1.75em;
        padding: .5em;
        text-decoration: underline;
        text-align: center;
        margin-bottom: 1em;
        transform: rotate(-4deg);
    }

    h1 {
        margin-top: 0;
    }


    h1,
    h2 {
        margin-bottom: .5em;
        font-size: 1.8rem;

    }

    nav {
        a {
            display: block;
            padding: 1em;
            width: 100%;
            text-align: center;
            border: 1px solid #cccccc;
            margin-bottom: 1em;
            font-weight: 700;
            font-size: 1.25em;
            transition: all .25s ease;

            &:hover {
                background-color: #000;
                color: #ffffff;
            }
        }
    }

}


#main {
    grid-area: main;

    @for $index from 1 through 6 {
        h#{$index} {
            margin-top: 1.25em;
            margin-bottom: .75em;
        }

        h#{$index}+p {
            margin-top: 0em;
        }
    }

    img {
        max-width: calc(100% - 2em);
        margin-bottom: 1em;
    }

    .lesende {
        p:after {
            content: "";
            display: table;
            clear: both;
        }

        img {
            max-width: 40%;
            border: none;
            padding: 0;
            float: left;
            margin: 0 1em 0 0;
        }

        p:nth-of-type(even)>img {
            float: right;
            margin: 0 0 0 1em;
        }
    }

    .gallery {
        margin-bottom: 1em;
        border-bottom: 1px solid #cccccc;

        .imagelist {

            display: flex;
            flex-wrap: wrap;

            a {
                width: calc(50% - .5em);

                margin-right: .5em;
                margin-bottom: 2em;

                img {
                    margin-bottom: 0em;
                }
            }
        }

        .byline {
            font-size: .9em;
            color: #999;
            margin-bottom: .5em;
            display: block;
        }
    }
}

#footer {
    margin-top: 1em;
    grid-area: footer;
    text-align: center;
    font-size: .8em;
    color: #555;
}